*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 10px;
}

body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #6c7279;
}
body .container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
body .header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100px;
}
body .header_inner {
	display: flex;
	align-items: center;
	padding: 35px 0;
	justify-content: space-between;
	border-bottom: 1px solid #505269;
}
body .header_inner .nav {
	display: flex;
}
body .header_inner .nav_link {
	margin-left: 50px;
	font-weight: 700;
	opacity: 0.75;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	transition: opacity 0.2s linear;
}
body .header_inner .nav_link:hover {
	opacity: 1;
}
body .header_inner .nav_link:first-child {
	margin-left: 0;
}
body .intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	background: #2a2e48 url(../images/header.png) center no-repeat;
	background-size: cover;
	padding-top: 100px;
}
body .intro_inner {
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	line-height: 1.1;
	text-align: center;
}
body .intro_title {
	font-family: "Open Sans", sans-serif;
	font-size: 65px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
body .intro_suptitle {
	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
	margin-bottom: 60px;
}
body .intro .btn {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 40px;
	border: 0;
	border-radius: 3px;
	font-family: "Raleway", sans-serif;
	transition: background-color 0.2s linear;
}
body .intro .btn--red {
	background-color: #e84545;
}
body .intro .btn--red:hover {
	background-color: #d43e3e;
}
body .benefits {
	display: flex;
	flex-wrap: wrap;
	margin: 100px 0;
	margin-bottom: 200px;
}
body .benefits_icon {
	margin-bottom: 25px;
}
body .benefits_item {
	text-align: center;
	width: 33.33333%;
	padding: 0 40px;
	margin-bottom: 77px;
}
body .benefits_title {
	text-transform: uppercase;
	color: #2d3033;
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 700;
}
body .benefits_text {
	font-size: 14px;
	color: #6c7279;
	line-height: 1.5;
}
body .works {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
body .works_item {
	width: 25%;
	height: 350px;
	position: relative;
}
body .works_item:hover .works_content {
	opacity: 1;
}
body .works_photo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	min-width: 100%;
}
body .works_content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	color: #fff;
	width: 100%;
	height: 100%;
	background-color: rgba(232, 69, 69, 0.9);
	transition: opacity 0.2s linear;
	opacity: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
body .works_title {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}
body .team {
	margin: 100px 0 70px;
}
body .team_inner {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
body .team_item {
	width: 25%;
	padding: 0 15px;
}
body .team_photo {
	display: block;
	max-width: 100%;
	height: auto;
}
body .team_name {
	margin-top: 35px;
	font-size: 22px;
	color: #2d3033;
	margin-bottom: 8px;
}
body .team_prof {
	font-size: 13px;
	color: #e84545;
	text-transform: uppercase;
	margin-bottom: 15px;
}
body .team_text {
	font-size: 14px;
	color: #6c7279;
	line-height: 1.5;
}
body .team_social {
	display: flex;
}
body .social_link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #c6cacc;
	border: 1px solid #e8ecee;
	width: 40px;
	height: 40px;
	text-decoration: none;
	font-size: 16px;
	margin-right: 4px;
	margin-top: 31px;
	transition: color 0.2s linear;
	transition: border-color 0.2s linear;
}
body .social_link:hover {
	color: #626466;
	border-color: #a9acad;
}
body .reviews {
	color: #fff;
	width: 100%;
	background-color: #53354a;
}
body .reviews_item {
	display: flex;
	flex-wrap: wrap;
}
body .reviews_photo {
	width: 50%;
	height: 500px;
	position: relative;
	overflow: hidden;
}
body .reviews_img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
body .reviews_content {
	width: 50%;
}
body .reviews_inner {
	display: flex;
	flex-direction: column;
	padding: 114px 44px;
}
body .reviews_text {
	z-index: 100;
	font-family: "Cardo", sans-serif;
	font-size: 36px;
	font-style: italic;
	line-height: 1.2;
	max-width: 510px;
	margin-bottom: 40px;
}
body .reviews_author {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	padding: 0;
}
body .download {
	margin: 90px 0;
	text-align: center;
}
body .download_title {
	font-size: 28px;
	font-weight: 300;
	text-transform: capitalize;
	color: #2d3033;
	margin-bottom: 10px;
}
body .download_subtitle {
	font-size: 13px;
	color: #2d3033;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
body .download .btn {
	min-width: 280px;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	padding: 14px 40px;
	border: 0;
	border-radius: 3px;
	font-family: "Raleway", sans-serif;
	transition: background-color 0.2s linear;
}
body .download .btn--red {
	background-color: #e84545;
}
body .download .btn--red:hover {
	background-color: #d43e3e;
}
body .footer {
	background-color: #3a3e64;
}
body .footer_inner {
	padding: 70px 0;
	display: flex;
	flex-wrap: wrap;
}
body .footer_block {
	width: 33.33333%;
	text-align: center;
}
body .footer_title {
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
}
body .footer_address {
	font-style: normal;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	line-height: 1.3;
}
body .footer_social {
	display: flex;
	justify-content: center;
}
body .footer_copyright {
	background-color: #313454;
	padding: 20px 0;
}
body .footer .social_link--footer {
	margin-top: 11px;
}
body .footer .social_link--footer:hover {
	color: #333;
	border-color: #fff;
	background-color: #fff;
}
body .text {
	text-align: center;
	color: #808080;
	font-size: 14px;
	line-height: 1.5;
}
body span {
	color: #fff;
}

@media (max-width: 1300px){
	body .works_item{
		width: 50%;
	}
}

@media (max-width: 1200px) {
	body .intro_title {
		font-size: 40px;
	}
}
@media (max-width: 991px){
	body .header_inner .nav {
		display: none;
	}
	body .benefits_item{
		width: 50%;
	}
	body .team_item {
		width: 50%;
	}
}
@media (max-width: 767px){
	body .intro{
		height: auto;
		padding-top: 130px;
		padding-bottom: 30px;
	}
	body .intro_title{
		font-size: 30px;
	}
	body .intro_suptitle{
		margin-bottom: 30px;
		font-size: 16px;
	}
	body .benefits{
		margin-bottom: 90px;
	}
	body .benefits_item{
		width: 100%;
	}
	body .works_item {
		width: 100%;
	}
}

@media (max-width: 575px){
	body .intro_title{
		font-size: 22px;
	}
	body .intro_suptitle{
		font-size: 12px;
	}
	body .benefits_text{
		font-size: 10px;
	}
	body .benefits_item{
		width: 100%;
		margin-bottom: 48px;
	}
	body .benefits{
		margin-bottom: 50px;
	}
	body .benefits_icon{
		margin-bottom: 13px;
	}
	body .benefits_icon{
		margin-bottom: 14px;
	}

}