*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

body{
    -webkit-font-smoothing:antialiased;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    // Header
    .header{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100px;
        &_inner{
            display: flex;
            align-items: center;
            padding: 35px 0;
            justify-content: space-between;
            border-bottom: 1px solid #505269;
            // Navigstion
            .nav{
                display: flex;
                &_link{
                    margin-left: 50px;
                    font-weight: 700;
                    opacity: .75;
                    color: #fff;
                    font-size: 13px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: opacity .2s linear;
                    &:hover{
                        opacity: 1;
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    // Intro
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 750px;
        background: #2a2e48 url(../images/header.png) center no-repeat;
        background-size: cover;
        padding-top: 100px;
        &_inner{
            max-width: 970px;
            width: 100%;
            margin: 0 auto;
            line-height: 1.1;
            text-align: center;
        }
        &_title{
            font-family: 'Open Sans', sans-serif;
            font-size:65px;                
            color: #fff ;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px; 
        }
        &_suptitle{
            font-size: 22px;
            color:#fff;
            line-height: 1.5;
            font-weight: 400; 
            margin-bottom: 60px;
        }
        // Button
        .btn{
            text-align: center;
            display: inline-block;
            vertical-align: top;
            font-size: 13px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            padding: 14px 40px;
            border: 0;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;
            transition: background-color .2s linear;
            &--red{
                background-color: #e84545;
                &:hover{
                    background-color: #d43e3e;
                }
            }
        }
    }
    // Benefits
    .benefits{
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0;
        margin-bottom: 200px;
        &_icon{
            margin-bottom: 25px;
        }
        &_item{
            text-align: center;
            width: 33.33333%;
            padding: 0 40px;
            margin-bottom: 77px;
        }
        &_title{
            text-transform: uppercase;
            color: #2d3033;
            font-size: 14px;    
            margin-bottom: 20px;
            font-weight: 700;
        }
        &_text{
            font-size: 14px;
            color: #6c7279;
            line-height: 1.5;
        }
    }
    .works{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        &_item{
            width: 25%;
            height: 350px;
            position: relative;
            &:hover .works_content{
                opacity: 1;
            } 
        }
        &_photo{ 
            position: absolute;
            left: 0;
            top: 0; 
            z-index: 1;
        }
        &_content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            color: #fff;
            width: 100%;
            height: 100%;
            background-color: rgba(232,69,69,.9);
            transition: opacity .2s linear;

            opacity: 0;

            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
        &_title{
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }
    .team{
        margin:100px 0 70px;
        &_inner{
            display:flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        &_item{
            width: 25%;
            padding: 0 15px;
            
        }
        &_photo{
            display: block;
            max-width: 100%;
            height: auto;
        }
        &_name{
            margin-top: 35px;
            font-size: 22px;
            color: #2d3033;
            margin-bottom: 8px;
        }
        &_prof{
            font-size: 13px;
            color: #e84545;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        &_text{
            font-size: 14px;
            color: #6c7279;
            line-height: 1.5;
        }
        &_social{
            display: flex;
        }
    }
    // Social
    .social_link{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #c6cacc;
        border: 1px solid #e8ecee;
        width: 40px;
        height: 40px;
        text-decoration: none;
        font-size: 16px;
        margin-right: 4px;
        margin-top: 31px;
        transition: color .2s linear;
        transition: border-color .2s linear;
        &:hover{
            color: #626466;
            border-color: #a9acad;
        }
    }
    // Reviews
    .reviews{
        color:#fff;
        width: 100%;
        background-color: #53354a;
        &_item{
            display: flex;
            flex-wrap: wrap;
        }
        &_photo{
            width: 50%;
            height: 500px;
            position: relative;
            overflow: hidden ;
        }
        &_img{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        &_content{
            width: 50%;
        }
        &_inner{
            display: flex;
            flex-direction: column;
            padding: 114px 44px;
        }
        &_text{
            z-index: 100;
            font-family: 'Cardo', sans-serif;
            font-size: 36px;
            font-style: italic;
            line-height: 1.2;
            max-width: 510px;
            margin-bottom: 40px;
        }
        &_author{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
            padding: 0;
        }
    }
    
    // Download
    .download{
        margin: 90px 0;
        text-align: center;
        &_title{
            font-size: 28px;
            font-weight: 300;
            text-transform: capitalize;
            color: #2d3033;
            margin-bottom: 10px;
        }
        &_subtitle{
            font-size: 13px;
            color: #2d3033;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .btn{
            min-width: 280px;
            display: inline-block;
            vertical-align: top;
            font-size: 13px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            padding: 14px 40px;
            border: 0;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;
            transition: background-color .2s linear;
            &--red{
                background-color: #e84545;
                &:hover{
                    background-color: #d43e3e;
                }
            }
        }
    }
    // Footer
    .footer{
        background-color: #3a3e64;
        &_inner{
            padding: 70px 0;
            display: flex;
            flex-wrap: wrap;
        }
        &_block{
            width: 33.33333%;
            text-align: center;
        }
        &_title{
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            font-size: 14px;
            margin-bottom: 10px;
        }
        &_address{
            font-style: normal;
            font-size: 14px;
            color: rgba(255,255,255,.5);
            line-height: 1.3;
        }
        &_social{
            display: flex;
            justify-content: center;
        }
        &_copyright{
            background-color: #313454;
            padding: 20px 0;
        }
        .social_link--footer{
            margin-top: 11px;
        }
        .social_link--footer:hover{
            color:#333;
            border-color: #fff;
            background-color: #fff;
        }
    }
    .text{
        text-align: center;
        color: #808080;
        font-size: 14px;
        line-height: 1.5;
    }
    span{
        color: #fff;
    }
}

// Media
@media (max-width:1200px){
    .intro_title{
        font-size: 40px;
    }
    .nav{
        display: none;
    }
}
